body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 a {
    font-size: 2rem;
    font-weight: 700;
    color: #818FDC;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin-top: 7.5%;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 15px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: grey;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #818FDC;
}

nav a.active {
    color: #818FDC;
}

nav a.active {
    border-bottom: 3px solid burlywood;
}

section {
    padding: 2rem;
}
.searchbar {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}