@font-face {
    font-family: 'Friz Quadrata Regular';
    src: url('../fonts/Friz_Quadrata_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Friz Quadrata Bold';
    src: url('../fonts/Friz_Quadrata_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Friz Quadrata Italic';
    src: url('../fonts/Friz_Quadrata_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Friz Quadrata Medium';
    src: url('../fonts/Friz_Quadrata_Std_Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Friz Quadrata Regular', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 a {
    font-size: 2rem;
    font-weight: 700;
    color: #818FDC;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin-top: 7.5%;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 15px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: grey;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #818FDC;
}

nav a.active {
    color: #818FDC;
}

nav a.active {
    border-bottom: 3px solid burlywood;
}

section {
    padding: 2rem;
}

.searchbar {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

/* partie de style pour personnages all  */

.personnages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.personnage-card {
    width: 17%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.3);
    overflow: hidden;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title {
    margin-bottom: 2%;
    flex-basis: 90%;
    text-align: center;
    font-size: 1.5rem;
}

.personnage-title {
    font-size: 1rem;
}

.personnage-icon {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.btn-group {
    margin-top: 15px;
}

.btn {
    padding: 8px 16px;
    border: 1px solid #7E7E7E;
    border-radius: 4px;
    background-color: #F1F1F1;
    color: #7E7E7E;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #818FDC;
    color: white;
}
